*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/reverse/
*.apk
/.gradle/
/app/build/
/local.properties
lsp_log_*.txt
.kotlin/
verify.png
*.jar
tools/
deploy_and_log.sh
keystore.properties
wifikeyxposed.keystore
