*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/reverse/
*.apk
/.gradle/
/build/
/app/build/
/local.properties
lsp_log_*.txt
.kotlin/
.idea/MarsCodeWorkspaceAppSettings.xml
.idea/misc.xml
.idea/planningMode.xml
verify.png
tools/jadx/lib/jadx-1.5.0-all.jar
